.map {
  height: 50vh;
  width: 50vw;
  @media only screen and (max-width: 600px) {
    height: 50vh;
    width: 90vw;
  }
  @media only screen and (max-width: 600px) {
    height: 50vh;
    width: 90vw;
  }
  @media only screen and (min-width: 600px) {
    height: 50vh;
    width: 90vw;
  }
  @media only screen and (min-width: 768px) {
    height: 50vh;
    width: 70vw;
  }
  @media only screen and (min-width: 992px) {
    height: 50vh;
    width: 70vw;
  }
  @media only screen and (min-width: 1200px) {
    height: 50vh;
    width: 70vw;
  }
  @media only screen and (min-width: 1400px) {
    height: 50vh;
    width: 50vw;
  }
}